<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script> -->



</head>

<body>
    <div id="app">
        <div class="container">
            <div class="panel panel-sm">
                <div class="panel-heading">
                    <h4>CSV Import</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="csv_file" class="control-label col-sm-3 text-right">CSV file to import</label>
                        <div class="col-sm-9">
                            <input type="file" id="csv_file" name="csv_file" class="form-control"
                                @change="loadCSV($event)">
                        </div>
                    </div>
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox-inline">
                            <label for="header_rows"><input type="checkbox" id="header_rows"> File contains header
                                row?</label>
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-9">
                        <a href="#" class="btn btn-primary">Parse CSV</a>
                    </div>
                    <table v-if="parse_csv">
                        <thead>
                            <tr>
                                <th v-for="key in parse_header" @click="sortBy(key)"
                                    :class="{ active: sortKey == key }">
                                    {{ key | capitalize }}
                                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tr v-for="csv in parse_csv">
                            <td v-for="key in parse_header">
                                {{csv[key]}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>


    <script src="main.js"></script>
</body>

</html>