html,
body {
    margin: 0;
    padding: 0;
}

body {
    margin: 32px auto;
}

.panel {
    border: 2px solid #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0 0;
    margin: 10px;
}

.panel.panel-sm {
    max-width: 700px;
    margin: 10px auto;
}

.panel-heading {
    border-bottom: 2px solid #dfdfdf;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
    margin: 0;
    padding: 0;
}

.panel-body .checkbox-inline {
    padding: 15px 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}