<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!--esto es para obtener los datos de mi modelo por eso se utiliza v-model-->
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" v-model="nombre">
        <p>Tu nombre en Mayusculas es: {{ nombre | uppercase }}</p>

        <form @submit.prevent="submit" action="" method="GET">
            <h2>Cuales son tus cursos favoritos</h2>
            <input v-model="cursos" type="checkbox" id="vue" value="vue">
            <label for="vue">Curso de Vue.js</label>

            <input v-model="cursos" type="checkbox" id="seo" value="seo">
            <label for="seo">Curso de seo</label>

            <input v-model="cursos" type="checkbox" id="react" value="react">
            <label for="react">Curso de react</label>

            <input v-model="cursos" type="checkbox" id="growth" value="growth">
            <label for="growth">Curso de growth</label>

            <br>
            <br>
            <button type="submit">Enviar</button>
        </form>
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <script>
        aplicarfiltros()
    </script>

</body>

</html>