<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <template v-if="mostrar">
            <h1>mi titulo con template</h1>
            <h2>es es mi subtituslo template</h2>
            <a :href="url" target="_blank">{{pagina}}</a>
        </template>

        <hr>
        <div v-show v-if="mostrar">
            <h1>mi titulo</h1>
            <h2>es es mi subtituslos</h2>
            <a :href="url" target="_blank">{{pagina}}</a>
        </div>

        <div v-show="!mostrar">
            esto esta oculto
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                nombre: 'JUANKITA',
                url: 'https://google.com',
                pagina: 'Ir a Google',
                mostrar: true

            }
        })
    </script>
</body>

</html>