@import "./base.scss";

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.1s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;
  }
}

.router-link-active {
  color: grey !important;
  text-decoration: underline;

  a {
    color: grey !important;
    text-decoration: underline;
  }
}

.router-link-exact-active {
  color: grey !important;
  text-decoration: underline;

  a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    border: 1px solid rgb(17, 153, 74);
    background-color: rgb(7, 179, 78);
    border-radius: 5px;
    padding: 10px;
  }
}
