<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pratica No 1</title>
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>

        <br>

        <!-- forma resumida de vue para el evento click es con el arroba -->
        <button @click="agregarPersona">Agregar</button>
        <input type="text" placeholder="escribe algo" v-model="nuevaPersona" @keyup.enter="agregarPersona">
        <ul>
            <li v-for='persona of objetos'>
                {{persona.nombre}} - {{persona.cedula}}
                <span v-if="persona.anio >= 18"> - Mayor de Edad</span>
                <span v-if="persona.anio <= 18"> - Menor de Edad</span>
            </li>
        </ul>

        <pre style="background-color: aliceblue">

            const app = new Vue({
            el: '#app',
            data: {
                titulo: 'Hola como estas',
                frutas: ['Manzana', 'Peras', 'Naranjas', 'Mandarinas'],
                objetos: [{
                    nombre: 'Juan K',
                    cedula: '205530947',
                    estado: 'falso',
                    anio: 15
                    },
                    {
                    nombre: 'Yess',
                    cedula: '109530714',
                    estado: 'falso',
                    anio: 20
                    },
                    {
                    nombre: 'Susuna',
                    cedula: '701230474',
                    estado: 'falso',
                    anio: 30
                    }
                ],
                nuevaPersona: ""

                },
                methods: {
                    agregarPersona() {
                        this.objetos.push({
                            nombre: this.nuevaPersona,
                            anio: 0
                        })
                        this.nuevaPersona = ""
                    }
                }
            })

        </pre>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>

</html>