<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pratica No 1</title>
</head>
<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>

        <br>

        <ul>
            <li v-for='persona of objetos'>
                {{persona.nombre}} - {{persona.cedula}}
                <span v-if="persona.anio >= 18"> - Mayor de Edad</span>
                <span v-if="persona.anio <= 18"> - Menor de Edad</span>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>