<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pratica No 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="fruta of frutas">{{fruta}}</li>
        </ul>

        <br>

        <!-- forma resumida de vue para el evento click es con el arroba -->
        <button @click="agregarPersona">Agregar</button>
        <input type="text" placeholder="escribe algo" v-model="nuevaPersona" @keyup.enter="agregarPersona">
        <hr>
        <ul>
            <li v-for='persona of objetos'>
                <button @click=persona.anio++>+</button>
                <button @click=persona.anio-->-</button>
                <input type="number" v-model.number="persona.anio">
                {{persona.nombre}} - {{persona.cedula}}

                <span v-if="persona.anio >= 18"> - Mayor de Edad</span>
                <span v-if="persona.anio < 18"> - Menor de Edad</span>
            </li>
        </ul>

        <h4>Total Anios: {{sumarPersona}}</h4>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>

</html>